<h1>Magic 8 Ball Simulator</h1>
<h2>Ball: <%= @ball.name %></h2>
<p>Created by: <a href="/users/<%= @ball.author_id %>"><%= @author.username %></a> on <%= @ball.created_at.strftime("%B %d, %Y") %>
<% if current_user == @author %>
  <a href="/balls/<%= @ball.id %>/edit">Edit</a>
  <a href="/balls/<%= @ball.id %>/answers">Answers</a>
<% end %>
</p>

<p>MAGIC 8 BALL SAYS:</p>
<p><%= @ball.answers.sample.body  %> </p>
<a href="/balls/<%= @ball.id %>/result"><img src="/images/8ball_result.png"></a>
<p>ASK ANOTHER QUESTION AND CLICK THE MAGIC 8 BALL!</p>
<p><a href="/balls">Back to Magic 8 Ball list</a></p>
