<div class="container">
  <h1>Magic 8 Ball Simulator</h1>
  <h2>Ball: <%= @ball.name %></h2>
  <p>Created by: <a href="/users/<%= @user.id %>"><%= @user.username %></a> on <%= @ball.created_at.strftime("%B %d, %Y") %></p>
  <a href="/balls/<%= @ball.id %>/result"><img src="/images/8ball_result.png"></a>
  <p>ASK ANOTHER QUESTION AND CLICK THE MAGIC 8 BALL!</p>
  <p><a href="/balls">Back to Magic 8 Ball list</a></p>
</div>