<h1>Magic 8 Ball Simulator</h1>
<h2>User Profile</h2>
<h3>Username: <%= @user.username %></h3>
<h3>Magic 8 Balls created:</h3>
  <ul>
    <% @balls.each do |ball| %>
  <li><a href="/balls/<%= ball.id %>"><%= ball.name %></a> - Created on <%= ball.created_at.strftime("%B %d, %Y") %>. <a href="/balls/<%= ball.id %>/edit">Edit</a></li>
    <% end %>
</ul>
<p><a href="/balls/new">Make a new Magic 8 Ball</a></p>
<p><a href="/balls">Back to Magic 8 Ball list</a></p>
