<h1>Magic Ball Simulator</h1>
<h2>Edit Answer</h2>
<% if @errors %>
  <span>Something went wrong:</span>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<form action="/balls/<%= @ball.id %>/answers/<%= @answer.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <fieldset>
    <legend>Edit Answer Form</legend>
    <label for="name">Text:</label>
    <input type="text" name="answer[body]" value="<%= @answer.try(:body) %>">
    <br />
    <input type="submit" value="Edit Answer">
  </fieldset>
</form>

<form action="/balls/<%= @ball.id %>/answers/<%= @answer.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete">
</form>
